version: '3.9'
services:
  db:
    container_name: db1
    image: mongo
    volumes:
      - ./data:/data/db
    ports:
      - "27017:27017"

  products:
    image: zaphira/prod_order_microservices:productsv1
    build: ${WEBAPP_STORAGE_HOME}/product_service
    container_name: product_service1
    ports:
      - "5000:4000"
    volumes:
      - /app/node_modules
    depends_on:
      - db

  authentication:
    image: zaphira/prod_order_microservices:authv1
    build: ${WEBAPP_STORAGE_HOME}/auth_service
    container_name: auth_service1
    ports:
      - "5002:4002"
    volumes:
      - /app/node_modules
    depends_on:
      - db

  order:
    image: zaphira/prod_order_microservices:orderv1
    build: ${WEBAPP_STORAGE_HOME}/order_service
    container_name: order_service1
    ports:
      - "5001:4001"
    volumes:
      - /app/node_modules
    depends_on:
      - authentication
      - products
      - db

  frontend:
      image: zaphira/prod_order_microservices:frontendv1
      build: ${WEBAPP_STORAGE_HOME}/frontend_service
      container_name: frontend_service1
      ports:
        - "8080:8080"
      volumes:
        - /app/node_modules
      depends_on:
        - authentication
        - products
        - order
 